<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="page_title">c.page_title</py:def>

  <py:def function="optional_head">
    <script src="http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js" type="text/javascript"></script>
  <script type="text/javascript">
      var tl;
      function init() {
  
      var eventSource = new Timeline.DefaultEventSource();

      var bandInfos = [
        Timeline.createBandInfo({
          eventSource:     eventSource,
          date:           "Jan 01 1839 00:00:00 GMT",
          width:          "70%", 
          intervalUnit:   Timeline.DateTime.MONTH, 
          intervalPixels: 100,
        }),
        Timeline.createBandInfo({
          overview:       true,
          eventSource: 	  eventSource,
          date:           "Jan 01 1839 00:00:00 GMT",
          width:          "30%", 
          intervalUnit:   Timeline.DateTime.YEAR, 
          intervalPixels: 200,
        })
      ];
      
     bandInfos[1].syncWith = 0;
     bandInfos[1].highlight = true;
      
      tl = Timeline.create(document.getElementById("timeline"), bandInfos);
      Timeline.loadXML("../data/endpoint/xml/simile", function(xml, url) { eventSource.loadXML(xml, url); });
    };
    
    var resizeTimerID = null;
 function onResize() {
     if (resizeTimerID == null) {
         resizeTimerID = window.setTimeout(function() {
             resizeTimerID = null;
             tl.layout();
         }, 500);
     }
 }
    
    
  </script>

  </py:def>

  <div py:def="content">
    <h2>Timeline - Charles Dickens</h2>

    <div id="timeline" style="height: 150px; border: 1px solid #aaa"></div>
    <noscript>
    This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.
    </noscript>
  </div>

  <xi:include href="../layout.html" />
</html>

