<html xmlns:py="http://genshi.edgewall.org/"
 xmlns:xi="http://www.w3.org/2001/XInclude" 
 py:strip="True">

 <py:def function="page_title">Letters - Home</py:def>

<div py:def="content">
<div py:for="book in c.books">
 <h3>${book.book_title}</h3>

 <p>Published: ${book.book_pub}</p>
 <p>Published: ${book.book_end_pub}</p>
 <p>Abstract: ${book.description}</p>
 <p><a href="http://en.wikipedia.org/wiki/${book.url}">${book.url}</a></p>
 <p><a href="http://gutenberg.org/ebooks/${book.source}">Gutenberg source</a></p>
 </div>
</div>
 <xi:include href="../layout.html" />
</html> 