<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Letters - Home</py:def>

  <div py:def="content">
    <p>Current letters in the database organized by their associated
    author.</p>

    <h3>Charles Dickens</h3>
    <ul>
      <li py:for="letter in c.letters">
        <a href="${url(controller='letters', action='view',
          id=letter.id)}">${letter.correspondent} - ${letter.letter_date}</a> -
          ${' '.join(letter.letter_text.split()[:10])}
      </li>
    </ul>
  </div>

  <xi:include href="../layout.html" />
</html>

