<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip = "True">
    
  <py:def function="page_title">Letters - Search</py:def>

  <div py:def="content">
    <div class="letter">
    <form action="query" method="get">
    <p>This form will allow you to search the letters for a key word.
    The selection is currently limited to the letters of Charles Dickens but more authors 
    will be added. </p>
    
    <p>If you want to look at the index for all the letters, just submit the form without a correspondent
    or you can <a href="../letters/view/dickens">view them here</a>.</p>
    <p>Please type in a word or phrase in the box and then submit to search the letters.</p>
    <input type="text" name="q" value="" size="30" /><br />   
    <input type="submit" name="Search Letters" />
    </form>
       <py:if test="c.matches">
          <p>${c.total} result(s)</p>
       </py:if>
       
       <div py:for="match in c.matches">
              <p> 
                <div py:choose = ""> 
       				<span py:when="match.date == '0000-00-00'"><a href="../letters/view/${match.letterid}">Letter to ${match.correspondent}</a><br/> No date</span>
       				<span py:otherwise=""><a href="../letters/view/${match.letterid}">Letter to ${match.correspondent}</a> written on ${match.date[-2:]}, ${match.date[5:7]}, ${match.date[:4]}</span>
     			</div>
                 <br />
                 ${match.snippet}<br />
                 <a href="../letters/view/${match.letterid}">http://www.opencorrespondence.org/letters/view/${match.letterid}</a>
                </p>
                <p>&nbsp;</p>
                 
     		</div>
  </div>
  </div>

  <xi:include href="../layout.html" />
</html>