<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip = "True">

  <py:def function="page_title">Letters - View</py:def>

  <div py:def="content">
    <div class="letter">
      ${h.literal(h.markdown(c.letter_text))}
      <!--<a href="../../../../data/letter_rdf/${c.id}">Rdf version</a>-->
      <p>&nbsp;</p>
      <p>Source: ${getattr(c.type, 'title', '')}<br />${getattr(c.type, 'author', '')}</p>
      <p>${getattr(c.type, 'publn_data', '')} : ${getattr(c.type, 'publn_date', '')}</p>
      <p><a href="${getattr(c.type, 's_url', '')}">${getattr(c.type, 's_url' ,'')}</a></p>
    </div>
  </div>

  <xi:include href="../layout.html" />
</html>