<html
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  py:strip=""
  >

  <py:def function="page_title">c.page_title</py:def>

  <div py:def="content">
    <h4>Endpoint</h4>

    <p>
    The endpoint that was here has now been moved with the latest version of the Open Correspondence site.<br /> 
    The rdf can now be found at <a href="./endpoint/rdf">endpoint/rdf</a><br />
    The json can now be found at <a href="./endpoint/json">endpoint/json</a><br />
    The xml can now be found at <a href="./endpoint/xml">endpoint/xml</a><br />
    </p>
  </div>

  <xi:include href="../layout.html" />
</html>