<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Home</py:def>

  <div py:def="content">
    <p>Welcome to Open Correspondence where you can explore the correspondence &ndash; and the social networks &ndash; of the nineteenth century literary world.</p>
    <p>At the moment the project currently contains some of the letters of Charles Dickens but we're working to expand to it include many other authors such as Jane Austen, George Eliot and Byron &ndash; <a href="${url(controller='home', action='help')}">want to help out?</a>.</p>

    <img src="http://wiki.okfn.org/p/Open_Letters/Gallery?action=AttachFile&amp;do=get&amp;target=clock_labels.png"
      alt="letter clock" style="width: 100%" />
    <p class="caption">Dickens Letters from 1835 to 1857. Time is around the 'clock' with width of segment indicating total number of letters to that correspondent. Segments starts at date of first letter and ends at date of last letter.</p>
  </div>

  <xi:include href="../layout.html" />
</html>

