<html xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

  <py:def function="page_title">Home</py:def>

  <div py:def="content">
    <p>Welcome to Open Correspondence where you can explore the correspondence &ndash; and the social networks &ndash; of the nineteenth century literary world.</p>
    <p>At the moment the project currently contains the letters of Charles Dickens but we're working to expand to it include many other authors such as Jane Austen, George Eliot and Byron &ndash; <a href="get-involved">want to help out?</a>.</p>
  </div>

  <xi:include href="../layout.html" />
</html>

