{% extends "layout.html" %}

{% block title %}Help{% endblock %}

{% block content %}
    <h2>Get Involved</h2>
    <p>The Open Correspondence project is in early stages. </p>
    <p>We are gradually getting more authors into the system, writing more code and finding the letter data sets.
    But we could always do with some help or different perspectives...</p>
    <p>For example, we are always interested in new data sets if you know of, or have, any that we can use under the Open Licence.</p>
    <p>If there is something that you feel is missing, feel free to <a href="http://knowledgeforge.net/project/letters/services/hg/">download the code</a> from our Mecurial repository and experiment or come up with you own service. </p>
    <p>The project can be contacted via the <a href="http://lists.okfn.org/mailman/listinfo/open-literature">Open Literature</a> mailing list.</p>
{% endblock %}
